@import "../../sass/base/colors";

#form {
	display: none;
}

#form_section {
	background-color: $rain;
	padding: 15px;
	border-radius: 20px;
	margin: 30px 0;

	p {
		margin: 15px 0;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
	}

	.input_wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 15px 0;

		input {
			border: none;
			border-radius: 20px;
			height: 35px;
			padding: 2px 13px;
		}

		textarea {
			border: none;
			border-radius: 20px;
			height: 130px;
			padding: 12px 13px;
		}

		input:focus,
		textarea:focus {
			outline: none;
			border: 1px solid $nightsky;
		}

		input:-webkit-autofill {
			box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
			-webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
			transition: background-color 5000s ease-in-out 0s;
		}
	}

	.contact-button {
		margin: auto;
	}


}

#contact_section {
	text-align: center;
	padding: 10px;

	div {
		margin-bottom: 50px;

		.icon {
			width: 80px;
		}

		p {
			margin: 0 auto;
		}
	}

	.forum-link {
		text-decoration: underline;

		&:hover {
			font-weight: bold;
		}
	}
}

.error_message_contact{
	font-size: 1rem;
	margin: 0 !important;
	color: red;
	position: relative;
	left: 10px;
	&.error_hide_contact{
		display: none;
	}
  }

@media only screen and (min-width: 760px) {
	#form {
		display: inline-block;
		position: absolute;
		height: 83vw;
		left: -5vw;
		z-index: -2;
		top: 9vw;
	}

	#form_section {
		display: flex;
		gap: 5vw;
		padding: 15px 25px;

		label,
		textarea {
			width: 40vw;
		}
	}

	#contact_section {
		display: flex;
		gap: 30px;
		margin: 40px auto 0px;
		justify-content: space-evenly;

		p {
			max-width: 300px;
		}
	}
}