@import "/src/sass/base/colors";

.question-box-delete {
    background-color: #f2f2f2 !important;
    border: solid 1px $fog;
}

.circle-name-delete {
    border: solid 1px $fog;

    span {
        color: $eclipse;
    }
}

.header-delete {
    color: $eclipse;
}

.read-more-delete {
    color: $fog;
}