@import "/src/sass/base/colors";
@import "/src/sass/base/buttons";

.response-container {
    background-color: $rain;
    border-radius: 25px;
    padding: 0.5rem;
    margin: 0 1rem;

    .response-content {
        margin-left: 3.5rem;
    }
}

.line {
    width: 1px;
    height: 2rem;
    background-color: $sunset;
    margin-left: 4.74rem;
}

.comment-wrapper {
    border: solid 2px $rain;
    border-radius: 25px;
    padding: 0.5rem;
    margin-left: 3rem;
    margin-right: 1rem;

    p {
        margin-left: 3.5rem;
    }
}

.padding {
    margin-bottom: 0rem;
}

.comment-wrapper::before {
    content: "";
    background-color: $sunset;
    border-radius: 50%;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -1rem;
    margin-left: 0.65rem;
}

.verified {
    border: solid 2px #5da35d;
}

.verified::before {
    content: "";
    background-image: url('/white-checkmark.svg');
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5da35d;
    float: right;
    margin-top: -1.8rem;

}

.add-comment-wrapper {
    margin: 2rem 3rem;
    border: 1px solid #c26137;
    border-radius: 20px;
    height: 2.5rem;
    padding: 3px 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;

    input {
        padding: 0 10px;
        border: none;
        border-radius: 20px;
        width: 100%;
        scroll-margin: 20rem;
    }

    input:focus {
        outline: none;
    }

    button {
        border-radius: 50%;
        background-color: #c26137;
        color: #fff;
        width: 2rem;
        height: 2rem;
        border: none;
    }
}

.add-comment-wrapper input:focus~#input_border {
    border: 1.5px solid #c26137;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    z-index: -1;

}

#input_border {
    scroll-margin: 20rem;
}

.circle-name-white {
    height: 3rem;
    width: 3rem;
    background-color: $moonlight;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-top: 15px;
}



.hide {
    opacity: 0;
    margin: 0;
    height: 1.5rem;
}